@import "./reset.css";
@import "./variables.css";

@import "./components/view.css";
@import "./components/indicators.css";
@import "./components/autoplay.css";
@import "./components/slides.css";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
